<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="">
    <img src="../../assets/icon_128.png" width="50" height="50" class="d-inline-block align-top" alt="">
    <span style="font-size: 30px; margin-left: 10px">TODO List</span>

  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav justify-content-end" style="margin-left: 100px">

      <li class="nav-item">
          <a class="nav-link " href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  href="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <div style="margin-top:5%" class="row">
    <div style="padding:2%" class="col-md-4">
      <div style="margin-top:10vh">
        <h3>TODO-list</h3>
      </div>
      <div style="color:#647cd6">
        <h3>Maintain Your Do's</h3>
      </div>
      <div>
        <a href="/signup" class="btn btn-primary btn-lg">Get Started</a>
      </div>
      <div style="font-size: 16px; margin-top:5%">
        <p>you can keep track of everything in one place, so you can get it all done and enjoy more peace of mind along
          the way.</p>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <img width="100%" src="../../assets/man.png">
    </div>
  </div>
  <div style="margin-bottom:20vh"> </div>
  <div class="row">
    <div class="col-md-6">
      <img width="100%" src="../../assets/image4.jpg">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">

      <div style="margin-top:10vh">
        <div>
          <h5>Stay up to date with Real time functionalities and undo functionality</h5>
        </div>

        <div>
          <p>You can add friends, your friends get a real time update eveytime you make a change in your List
            ,furthermore your friends can also make changes to your list, eveyone will be notofied instantly.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div style="margin-bottom:20vh"> </div>
</div>
<div class="footer bg-light">
  <div style="font-size:22px;"><span style="color:#c71610">TODO </span>list</div>
  <small>(C) To-Do-List project By Vivek Rai</small>
</div>